body {
    background-color: black;
    
}

h1 {
    margin-top: 1%;
    font-size: 100px;
    text-align: center;
    color: white;
    font-family: 'Unlock', cursive;
}

.crystal {
    margin-left: 12%;
    width: 10%;
    height: 10%;
}
/* audio controls */
audio {
    opacity: .02;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

audio:hover {
    opacity: 1;
}


#instructions {
    border-width: 5px;
    border-style: solid;
    border-color: purple;
    font-size: 30px;
    text-align: center;
    margin-top: 0%;
    margin-left: 12%;
    padding: 1%;
    padding-bottom: 1%;
    width: 75%;
    background-color: rgb(240, 240, 240);
    color: black;
}

.target-score {
    color: white;
    font-size: 50px;
    Float: left;
    margin-left: 25%;
}

.your-score {
    color: white;
    font-size: 50px;
    Float: right;
    margin-right: 25%;
}

#targetScore {
    text-align: center;
    font-size: 108px;
    line-height: 243px;
    color: black;
    margin-top: 8%;
    margin-left: -15%;
    height: 250px;
    width: 250px;
    background-color: white;
    border-radius: 100%;
    display: inline-block;
}

#yourScore {
    color: rgb(255, 11, 214);
    text-align: center;
    font-size: 108px;
    line-height: 243px;
    margin-right: 24%;
    margin-top: -16%;
    height: 250px;
    width: 250px;
    background-color: white;
    border-radius: 100%;
    float: right;
    display: inline-block;   
}

.wins {
    margin-top: 7%;
    margin-left: 37%;
    padding-bottom: 10px;
    font-size: 50px;
    color: white;
    display: block;
}

.losses {
    margin-left: 56%;
    padding-bottom: 14px;
    font-size: 50px;
    color: white;
    margin-top: -4%;
    display: block;
}


/* Button Design Experiment */
button {
    margin-left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    color: #ccc;
    width: 240px;
    height:60px;
    border: 1px solid #a208d1;
    font-size: 18px;
    border-radius: 4px;
    overflow: hidden;
}
button:focus {
    outline: none;
}

button:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.5);
    width: 50px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}

button:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-15deg);
}

button:hover {
    background: #a208d1;
    cursor: pointer;
}

button:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: 1s;
}

button:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
}

/* close button */
#close {
    margin-left: 5%;
    margin-top: 1%;
    transform: translate(-50%, -50%);
    background: none;
    color: #a208d1;
    width: 100px;
    height: 40px;
    border: 1px solid #a208d1;
    font-size: 18px;
    border-radius: 4px;
}

/* Media Queries */
@media (max-width: 2300px) {
    
  
    #targetScore {
        margin-top: 8%;
        margin-left: -13%;
    }
    
    #yourScore {
        margin-right: -13%;
        margin-top: 8%;
    }
    
    .losses {
        margin-top: -3.5%;
        margin-left: 56%;
    }

}

@media (max-width: 1500px) {
    
    .target-score {  
        margin-left: 20%;
    }
    
    .your-score {
        margin-right: 15%;
    }
    
    #targetScore {
        margin-top: 8%;
        margin-left: -16%;
    }
    
    #yourScore {
        margin-right: 14%;
        margin-top: -18%; 
    }
    
    .losses {
        margin-left: 56%;
        padding-bottom: 14px;;
        margin-top: -5%;
    }

}

@media (max-width: 1300px) {
    
    .target-score {
        margin-left: 15%;
    }
    
    .your-score {
        margin-right: 15%;
    }
    
    #targetScore {
        margin-top: 8%;
        margin-left: -20%;
    }
    
    #yourScore {
        margin-right: 14%;
        margin-top: -20%; 
    }
}

@media (max-width: 1200px) {

    #yourScore {
        margin-right: 14%;
        margin-top: -22%;
    }
    
    .losses {
        margin-left: 56%;
        padding-bottom: 14px;
        margin-top: -6%;
    }
}

@media (max-width: 1060px) {
    
    #targetScore {
        margin-top: 8%;
        margin-left: -25%;
    }
    
    #yourScore {
        margin-right: 14%;
        margin-top: -25%;  
    }
    .losses {
        margin-left: 56%;
        padding-bottom: 14px;
        margin-top: -7%;
    }
}
@media (max-width: 980px) {
    
    .target-score {
        margin-left: 8%;
    }
    
    .your-score {
        margin-right: 12%;
    }
    
    #targetScore {
        margin-top: 10%;
        margin-left: -28%;
    }
   
    #yourScore {
        margin-right: 11%;
        margin-top: -27%;
    }
}
@media (max-width: 855px) {
    
    .target-score {
        margin-left: 8%;
    }
    
    .your-score {
        margin-right: 12%;
    }
    
    #targetScore {
        margin-top: 10%;
        margin-left: -31%;
    }
    
    #yourScore {
        margin-right: 11%;
        margin-top: -31%;  
    }
    .wins {
        margin-top: 8%;
        margin-left: 21%;
        padding-bottom: 10px;
    }
    
    .losses {
        margin-left: 53%;
        padding-bottom: 14px;
        margin-top: -8%;
    }
    
}